
nav#nav-main {
    grid-column: 3;
    text-align: center;
    a {
        color: inherit;
        display: inline-block;
        font-size:  150%;
        padding: 1em 2em;
        text-decoration: none;
    }
    a.active {
        border-bottom: 2px solid;
        box-shadow: 0 -2px 0px 0px var(--color-highlight-2) inset
    }
    a:hover {
        border-bottom: 2px solid;
    }
  }
  